.battle-arena {
    .arena-combatant {
        position: absolute;
        background-size: 400%;
        z-index: 5;
        transition: left 0.3s ease-out;
        &.is-player {
            z-index:6;
            animation: turnForwards 0.2s steps(2, end) forwards;
        }
        &:not(.is-player) {
            //background-position: 100% 100%;
            animation: turnBackwards 0.2s steps(2, end) forwards;
        }

        &:after {
            content: '';
            position:absolute;
            z-index: 4;
            left:3em;
            right:3em;
            bottom:-0.8em;

            height:1.5em;
            border-radius: 50%;
            background:rgba(black, 0.2);
        }

    }
}

.is-rollout {
    .arena-combatant {
        //TODO: style differently when in Rollout Mode
        //Turn to Face forward, move to the left, etc

        &.is-player {

            animation: turnBackwards 0.2s steps(2, end) forwards;
        }
        &:not(.is-player) {
            //background-position: 33.33% 33.33%;
            animation: turnForwards 0.2s steps(2, end) forwards;
        }
    }


}

@keyframes turnForwards {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 33.33% 33.33%;
    }
}

@keyframes turnBackwards {
    from {
        background-position: 33.33% 33.33%;
    }
    to {
        background-position: 100% 100%;
    }
}