@import 'combatant-scoreboard';
@import 'submission-menu';
@import 'arena-combatant';
@import 'battle-animations';

.battle-arena {
    height: 100%;
    width:100%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/stars.png") repeat repeat,
            linear-gradient(-180deg, #E08E8E 0%, #D4D4E5 100%);

    position:relative;

    .bottom-bar {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        z-index: 20;
        background: rgba(#fff, 0.95);
        color:#000;
        transition: height 0.3s ease-out;

    }

}