@import 'combatant-scoreboard';

.battle-arena {
    height: 100%;
    width:100%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/stars.png") repeat repeat,
            linear-gradient(-180deg, #E08E8E 0%, #D4D4E5 100%);

    .battle-message-box {
        height:33.3%;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        color: #fff;
        background:#111;
    }

}