.battle-arena {
    .submission-menu {
        position: absolute;
        z-index:20;
        transition: bottom 0.2s ease-out;
    }

    .submission-menu_more-container {
        display:flex;
        .back-button {
            //width: 50%;
        }
    }

    .submission-menu_option {
        background: rgba(#fff, 0.4);
        margin-top: 0.5em;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        user-select: none;


        &:hover {
            cursor: pointer;
        }

        > span {
            &:nth-of-type(2) {
                font-size:0.8em;
            }
        }

        &.is-selected {
            background: rgba(#fff, 0.9);
        }

        &.invisible {
            visibility: hidden;
        }

        &:first-of-type {
            //margin-top:0 !important;
        }
    }

    .submission-bottom-nav-container {
        display:flex;
        justify-content: space-between;
    }
}