@import '_reset';
* {
    box-sizing:border-box;
}


html, body {
    height:100%;
    font-family: "Source Code Pro", monospace;
}

body {
    background: #E0E5EE;
}

#app-root {
    height: 100%;
}


.ui-wrapper {
    height: 100%;
    overflow: hidden;
}

.viewport {
    //background:#ccc;
    //background: url(/dist/images/screenshot.png) no-repeat no-repeat;
    background-size: cover;
    position:relative;
    margin: 0 auto;
    //top:50%;
    //transform: translateY(-50%);
    width:176px; /* init */
    height:112px; /* init */
    overflow:hidden;
}

.dev-switch-link {
    text-decoration:none;
    color:#666;
    border:1px solid #666;
    padding: 0.2em 0;
    display:inline-block;
    width:120px;
    text-align:center;
    &:first-of-type {
        border-right:0;
    }
}

@import 'battle-console-view';
@import 'battle-arena-view';